/* ОБНУЛЕНИЕ */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	color: #000000;
}
body._lock {
	overflow: hidden;
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0px 15px;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@media (max-width: 767px) {
	.container {
		padding: 0px 20px;
	}
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
.header {
	position: fixed;
	z-index: 3;
	width: 100%;
}
.header-fixed {
	top: 0;
	left: 0;
	animation-name: show_header;
	animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
	background-color: #000000;
}
@keyframes show_header {
	0% {
		opacity: 0;
		top: -100px;
	}
	100% {
		opacity: 1;
		top: 0;
	}
}
.header__container {
	min-height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	z-index: 4;
}
.menu__icon {
	display: none;
}
.menu__list {
	display: flex;
}
.menu__item:not(:last-child) {
	margin: 0px 35px 0px 0px;
}
.menu__link {
	font-weight: 600;
	line-height: 146%;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 3px 0px;
}
.menu__link:hover {
	border-bottom: 2px solid #FFFFFF;
}
.header__lang {
	display: flex;
	z-index: 4;
}
.menu__lang {
	display: none;
}
.lang__item:not(:last-child) {
	margin: 0px 8px 0px 0px;
}
.lang__link {
	font-weight: 600;
	line-height: 146%;
	text-transform: uppercase;
	color: #B7B7B7;
}
.lang__link.active {
	color: #FFFFFF;
}
@media (max-width: 767px) {
	.menu__icon {
		display: block;
		position: relative;
		z-index: 4;
		width: 30px;
		height: 20px;
		cursor: pointer;
	}
	.menu__icon::before,
	.menu__icon span,
	.menu__icon::after {
		position: absolute;
		left: 0;
		width: 100%;
		height: 10%;
		transition: all 0.3s ease 0s;
		background-color: #FFFFFF;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: '';
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}
	.menu__icon._active span {
		transform: scale(0) translate(0px, -50%);
	}
	.menu__body {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		padding: 120px 20px 30px 20px;
		background-color: rgba(0, 0, 0, 0.98);
		transition: right 0.3s ease-in-out 0s;
		overflow: auto;
	}
	.menu__body::after {
		content: '';
		position: fixed;
		width: 100%;
		top: 0;
		right: -100%;
		height: 100px;
		background-color: rgba(0, 0, 0, 1);
		transition: right 0.3s ease-in-out 0s;
	}
	.menu__body._active::after {
		right: 0;
	}
	.menu__body._active {
		right: 0;
	}
	.menu__list {
		display: block;
		margin: 0px 0px 50px 0px;
	}
	.menu__item:not(:last-child) {
		margin: 0px 0px 25px 0px;
	}
	.menu__link {
		font-size: 24px;
	}
	.header__lang {
		display: none;
	}
	.menu__lang {
		display: block;
	}
	.menu__lang > .lang__item:not(:last-child) {
		margin: 0px 0px 15px 0px;
	}
}
@media (max-width: 479px) {
	.header__container {
		min-height: 70px;
	}
	.header__logo {
		width: 120px;
	}
	.header__logo img {
		width: 100%;
	}
	.header__logo {
		width: 110px;
	}
	.menu__body {
		padding: 100px 20px 30px 20px;
	}
	.menu__body::after {
		height: 70px;
	}
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
.main {
	flex: 1 1 auto;
}
.hero {
	position: relative;
}
.hero__content {
	position: relative;
	z-index: 2;
	padding: 217px 0px 305px 0px;
}
.hero__content > *:not(:last-child) {
	margin: 0px 0px 53px 0px;
}
.hero__title {
	max-width: 791px;
	font-weight: 700;
	font-size: 48px;
	line-height: 150%;
	text-transform: uppercase;
	color: #FFFFFF;
}
.btn {
	display: inline-block;
	min-height: 50px;
	padding: 12px 48px;
	background-color: #DB2512;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	color: #FFFFFF;
	text-align: center;
	transition: background-color 0.3s ease 0s;
}
.btn:hover{
	background-color: #9e1708;
}
.hero__cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media (max-width: 1279px) {
	.hero__content {
		padding: 150px 0px 190px 0px;
	}
}
@media (max-width: 991px) {
	.hero__content {
		padding: 150px 0px 170px 0px;
	}
}
@media (max-width: 767px) {
	.hero__content {
		padding: 150px 0px 145px 0px;
	}
	.hero__title {
		max-width: none;
		font-size: 35px;
	}
	.btn {
		width: 100%;
	}
}
@media (max-width: 320px) {
	.hero__title {
		max-width: none;
		font-size: 25px;
	}
	.btn {
		font-size: 15px;
	}
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
.main__about {
	position: relative;
	z-index: 2;
	margin-top: -98px;
}
.about__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -11px;
}
.about__column {
	flex: 0 1 33.333%;
	padding: 0px 11px;
}
.about__item {
	height: 100%;
	background-color: #FFFFFF;
	padding: 39px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.item-about__icon {
	margin: 0px 0px 21px 0px;
}
.item-about__title {
	margin: 0px 0px 15px 0px;
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}
.about__item > .item-about__title {
	display: inline-block;
	color: #000000;
}
.item-about__subtitle {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #B7B7B7;
}
@media (max-width: 1215px) {
	.about__column {
		flex: 0 1 50%;
	}
	.about__column:not(:last-child) {
		margin: 0px 0px 21px 0px;
	}
	.about__column:last-child {
		flex: 0 1 100%;
	}
}
@media (max-width: 811px) {
	.about__column {
		flex: 1 1 100%;
	}
}
@media (max-width: 479px) {
	.main__about {
		position: relative;
		z-index: 2;
		margin-top: -75px;
	}
	.about__column:not(:last-child) {
		margin: 0px 0px 12px 0px;
	}
	.about__item {
		padding: 25px 20px;
	}
	.item-about__icon {
		margin: 0px 0px 15px 0px;
	}
	.item-about__title {
		margin: 0px 0px 10px 0px;
		font-size: 14px;
	}
	.item-about__subtitle {
		font-size: 14px;
	}
}
@media (max-width: 320px) {
	.about__item {
		padding: 20px 15px;
	}
	.item-about__icon {
		margin: 0px 0px 10px 0px;
	}
	.item-about__title {
		margin: 0px 0px 5px 0px;
		font-size: 12px;
	}
	.item-about__subtitle {
		font-size: 12px;
	}
}